<div class="chat" *ngIf="chatToShow">
    <div class="chatHeader">
        <ngx-avatar src="https://avatars.dicebear.com/api/human/{{selectedUser._id}}.svg" name="{{selectedUser.firstName}}" value="28%" size="40" textSizeRatio="2.5" [round]="true">
        </ngx-avatar>

        <div class="chatHeaderInfo">
            <h3>{{selectedUser.firstName}}</h3>
            <p>last seen at....</p>
        </div>

        <div class="chatHeaderRight">
            <span id='clickableAwesomeFont'><i class="fas fa-search"></i></span>
            <span id='clickableAwesomeFont'><i class="fas fa-paperclip"></i></span>
            <span id='clickableAwesomeFont'><i class="fas fa-ellipsis-v"></i></span>
        </div>
    </div>
    <div class="chatBody">
        <p *ngFor="let chat of chatDetails"
            [ngClass]="chat.recieverID === loggedInUser._id ? 'chatMessage' : 'chatMessage chatMessageReciever'">
            <span class="chatName">
                {{chat.senderID === loggedInUser._id ? loggedInUser.firstName : selectedUser.firstName}}</span>
            {{chat.message}}
            <span class="chatTimestamp">{{chat.timeStamp}}</span>
        </p>
    </div>

    <div class="chatFooter">
        <span id='clickableAwesomeFont'><i class="far fa-grin-wink"></i></span>
        <form>
            <input type="text" name="textMessage" id="textMessage" placeholder="Type a message...." class="textMessage"
                [(ngModel)]="messageBody">
            <button (click)=sendMessage() type="submit">Send Message</button>
        </form>
        <span id='clickableAwesomeFont'><i class="fas fa-microphone"></i></span>
    </div>

</div>

<div class="welcome" *ngIf="!chatToShow">
    This is the place to chat!!!
</div>