<div class="sidebar">
    <div class="sidebarHeader">
        <div class="sidebarAvatar">
            <ngx-avatar src="https://avatars.dicebear.com/api/human/{{loggedInUser._id}}.svg"
                name={{loggedInUser.firstName}} value="28%" size="40" textSizeRatio="2.5" [round]="true"></ngx-avatar>
        </div>
        <div class="sidebarLoggedInUserDetail">
            <h1>{{loggedInUser.firstName}}</h1>
            <h3>{{loggedInUser.email}}</h3>
        </div>
        <div class="sidebarHeaderRight">
            <button (click)="onLogout()" class="logoutBtn" type="reset">Logout</button>
        </div>
    </div>
    <div class="sidebarSearch">
        <div class="sidebarSearchContainer">
            <i class="fas fa-search"></i>
            <input type="text" class="searchInput" name="search" id="search" placeholder="Search to Chat">
        </div>
    </div>
    <div class="sidebarChats">
        <div class="users" *ngFor="let user of activeUsers">
            <app-sidebar-chat [unreadMessageArray]=unreadMessageArray [user]=user [recievedMessageForOther]=recievedMessageForOther
                (selectedUser)=onSelectedUser($event)></app-sidebar-chat>
        </div>
    </div>
</div>