<div class="sidebar">
    <div class="sidebarHeader">
        <div class="sidebarHeaderRight">
            <h1>side header</h1>
        </div>
    </div>
    <div class="sidebarSearch">
        <div class="sidebarSearchContainer">
            <i class="fas fa-search"></i>
            <input type="text" class="searchInput" name="search" id="search" placeholder="Search to Chat">
        </div>
    </div>
    <div class="sidebarChats">
        <app-sidebar-chat></app-sidebar-chat>
    </div>
</div>